<div class="select-wrapper">
  {% if collection.all_tags.size > 0 %}
    <select id="filter-tag">
      <option
        value="filter_by"
        disabled
        selected>Filter by</option>
      {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
          <option class="tag-filters__item active" value="{{ tag | handle }}">{{ tag | link_to_remove_tag: tag }}</option>
        {% else %}
          <option class="tag-filters__item" value="{{ tag | handle }}">{{ tag | link_to_add_tag: tag }}</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endif %}
</div>

<script>
  document.querySelector('#filter-tag').addEventListener('change', function(e) {
    let link = 'https://studiosele.nl/collections/full-collection/'
    let newLink = link + e.target.value;
    window.location.replace(newLink);
  });
</script>