<div class="select-wrapper">
    <select id="filter-by">
        <option value="filter_by" disabled selected>Category</option>

        {% for link in linklists.main-menu.links %}
        <option value="{{ link.url }}">
            {{ link.title }}
        </option>
        {% endfor %}
    </select>
</div>

<script>

    // Update filter_by query parameter on select change
    document.querySelector('#filter-by').addEventListener('change', function (e) {
       let value = e.target.value;
       window.location.replace(value);
    });
</script>