<div class="collection-nav">
  <ul>
    <li>Alle producten</li>
    {% for link in linklists['collection-menu'].links %}
      <li class="menu-link">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
