<div class="cookies">
    <div class="cookies-close">
        <div class="stripe"></div>
        <div class="stripe"></div>
    </div>
    <p>This site uses cookies to give you the best experience possible. Read more in our <a href="/pages/privacy"> privacy policy</a>.</p>

    <a class="button cookies-accept" href="#">I accept
        <div class="arrow">
            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                    fill="#464E40" />
            </svg>
        </div>
    </a>

</div>