<div class="cookies">
  <div class="cookies-close">
    <div class="stripe"></div>
    <div class="stripe"></div>
  </div>
  <p>Selé uses cookies to give you a personalized shopping experience and enhance the quality of our website. To learn more about which cookies we use and how to edit your preferences, read our Cookie Policy<a href="/pages/cookie-policy">
      Cookie Policy</a>.</p>

  <a class="cookies-accept" href="#">
    Continue to website
  </a>

</div>