<header class="{% if template.name != 'index' %}dark-header{% endif %}">
  <nav>
    <ul class="nav-links">
      <li>
        <a class="sr" href="/pages/about">About</a>
      </li>
      <li>
        <a class="sr" href="/collections/de-sele-collectie">Products</a>
      </li>
      <li>
        <a class="sr" href="#">Configurator</a>
      </li>
      <li>
        <a class="sr" href="/pages/showroom">Showroom</a>
      </li>
    </ul>
  </nav>

  {% if template.name == 'index' %}
    <a
      class="sr logo"
      href="/"
      aria-label="Home"
    >
      {{- 'sele-logo.svg' | asset_url | img_tag: 'Studio Selé logo' -}}
    </a>
  {% else %}
  <a
    class="sr logo"
    href="/"
    aria-label="Home"
  >
    {{- 'sele-logo-dark.svg' | asset_url | img_tag: 'Studio Selé logo' -}}
  </a>
  {% endif %}

  <nav>
    <ul class="nav-links">
      <li>
        <a class="sr" href="/pages/contact">Contact us</a>
      </li>
      <li>
        <a class="sr" href="/pages/faq">FAQ</a>
      </li>
      <li>
        <a class="sr" href="/cart" class="cart-widget">
          Cart
          <span class="cart-count" data-cart-count>({{ cart.item_count }})</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
