<header>
  <nav>
    <ul class="nav-links">
      <li>
        <a class="sr" href="/pages/about">About</a>
      </li>
      <li>
        <a class="sr" href="/collections/full-collection">Products</a>
      </li>
      <li>
        <a class="sr" href="#">Configurator</a>
      </li>
      <li>
        <a class="sr" href="/pages/showroom">Showroom</a>
      </li>
      <li class="logo">
        <a
          class="sr"
          href="/"
          aria-label="Home"
        >
          {{- 'sele-logo.svg' | asset_url | img_tag: 'Studio Selé logo' -}}
        </a>
      </li>
      <li>
        <a class="sr" href="/pages/contact">Contact us</a>
      </li>
      <li>
        <a class="sr" href="/pages/faq">FAQ</a>
      </li>
      <li>
        <a class="sr" href="/cart">
          cart
          {% if cart.item_count > 0 %}
            <div class="cart-count" data-cart-count>
              <span>({{ cart.item_count }}) </span>
            </div>
          {% endif %}
        </a>
      </li>
    </ul>
  </nav>
</header>
