<section class="home-hero">
  <img src="{{ section.settings.image | img_url: 'master'  }}" alt="{{ product.featured_image.alt | escape }}" />
</section>

{% schema %}
  {
    "name": "Hero content",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "t:sections.hero.presets.name"
      }
    ]
  }
{% endschema %}