<div class="video-backgound">
  <video
    autoplay
    loop
    muted
    playsinline>
    <source src="{{ section.settings.videoLink }}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>


{% schema %}
  {
    "name": "Hero content",
    "settings": [
      {
        "type": "url",
        "id": "videoLink",
        "label": "Background Video",
        "default": "https://assets.website-files.com/638625b1b089cf19e2c219ef/638625b1b089cf6462c21af4_18-bed_header-home_video-transcode.mp4"
      }
    ]
  }
{% endschema %}