:root {
    --beige: #fffaf3;
    --vanilla: #f4ece1;
    --l_grey: #a4a4a4;
    --m_grey: #6d6c6c;
    --d_grey: #1a1919;
    --brown: #81613e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #fffdfa;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #f4f4ec;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #65665e;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #65665e;
}

main {
    position: relative;
}

.grecaptcha-badge {
    display: none !important;
}

button,
a {
    all: unset;
    cursor: pointer;
}

.jumbo-text {
    font-size: 105px;
    line-height: 110%;
}

h1 {
    font-size: 84px;
    line-height: 120%;
}

h2 {
    font-size: 67px;
    line-height: 120%;
}

h3 {
    font-size: 54px;
    line-height: 120%;
}

h4 {
    font-size: 43px;
    line-height: 120%;
}

h5 {
    font-size: 34px;
    line-height: 120%;
}

h6 {
    font-size: 28px;
    line-height: 110%;
}

.sr {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.sm {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
}

.mr {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.mm {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.l {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
}

.link {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-decoration-line: underline;
}

.caps {
    font-family: 'Untitled Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

header {
    nav {
        padding: 24px 40px;
        ul {
            display: flex;
            gap: 40px;
            list-style-type: none;
            justify-content: center;
            li.logo {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
